
@import '../../../assets/libs/fontawesome/css/all.css';
@font-face {
  font-family: 'Roboto_Regular';
  src: url('../../../assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Roboto-Regular.woff') format('woff'), url('../../../assets/fonts/Roboto-Regular.ttf') format('truetype'), url('../../../assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto_Bold';
  src: url('../../../assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/Roboto-Bold.woff') format('woff'), url('../../../assets/fonts/Roboto-Bold.ttf') format('truetype'), url('../../../assets/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../../../assets/fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/RobotoSlab-Regular.woff') format('woff'), url('../../../assets/fonts/RobotoSlab-Regular.ttf') format('truetype'), url('../../../assets/fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../../../assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../../../assets/fonts/OpenSans-Regular.woff') format('woff'), url('../../../assets/fonts/OpenSans-Regular.ttf') format('truetype'), url('../../../assets/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin style-text-main($font-family, $font-size, $color) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
}

$color-main1: #de903c;

.d-flex {
  display: flex;
}

.flex-space-bw {
  justify-content: space-between;
}

/* ------style header----- */

.header-top {
  background: #131a20;
  padding: 11px 0!important;
  @include style-text-main(Roboto_Regular, 13px, #f37021);

  .header-top-info {
    white-space: nowrap;

    .header-top-address {
      display: flex;
      justify-content: center;
      margin-right: 20px;
      padding-right: 20px;
      position: relative;

      &::before {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 3px;
        content: '';
        width: 1px;
        height: 15px;
        background-color: rgba(255, 255, 255, 0.12);
        transform: skew(-25deg);
      }

      i {
        font-size: 16px;
        margin-right: 5px;
      }
    }

    .header-top-phone-number {
      display: flex;
      justify-content: center;

      a {
        @include style-text-main(Roboto_Regular, 13px, #f37021);
        display: flex;
      }

      i {
        font-size: 16px;
        margin-right: 5px;
        line-height: 22px;
      }
    }
  }
}

.header-mid {
  background: #3f3f3f;
}

/* ------end style header----- */
/*-----------style body-----------*/
.slider_main {
  margin-top: 10px;
  margin-bottom: 30px;

  &:hover {
    .owl-nav {
      display: block;
    }
  }

  .owl-nav {
    display: none;
  }
}

.box-info-intro {
  padding: 30px;
  border: 1px solid #dd9933;

  h2 {
    font-family: RobotoSlab-Regular;
    font-weight: bold;
    margin-bottom: 10px;

    &:first-child {
      font-size: 36px;
      color: #464646;
    }

    &:last-child {
      color: #ff0000;
      font-size: 24px;
    }
  }

  a {
    font-family: RobotoSlab-Regular;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    color: #de903c;
    font-size: 30px;
  }

  p {
    margin-bottom: 10px;
  }
}

.box-link-book {
  padding: 30px;
  border: 6px solid #f2f2f2;
  margin: 30px 0;
}

.title-box-list {
  padding-bottom: 10px;
  margin-bottom: 50px;
  border-bottom: 1px dashed #dcdcdc;
  text-align: center;
  @include style-text-main(RobotoSlab-Regular, 40px, $color-main1);
  font-weight: bold;
}

.row-17 {
  margin: 0 -17px;
}

.padding-17 {
  padding: 0 17px;
}

.row-16 {
  margin: 0 -16px;
}

.padding-16 {
  padding: 0 16px;
}

.box-item-basis {
  padding: 30px;
  border: 6px solid #f2f2f2;
  margin-bottom: 30px;

  .img-basis-item {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 321px;

    &:hover {
      .overlay-btn-link {
        opacity: 1;
        transition: 0.3s ease all;
      }
    }

    .overlay-btn-link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: 0.3s ease all;

      a {
        display: inline-block;
        padding: 10px 17px;
        color: #ffffff;
        font-size: 13px;
        font-weight: bold;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background: $color-main1;
        color: #fff;
        transition: 0.3s ease all;

        &:hover {
          background: #98b63c;
          transition: 0.3s ease all;
        }
      }
    }
  }

  .text-basis-item {
    h3.name-basis-item {
      margin: 25px 0 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      a {
        @include style-text-main(RobotoSlab-Regular, 18px, #333);
        font-weight: bold;

        &:hover {
          color: $color-main1;
        }
      }
    }

    p {
      @include style-text-main(Roboto_Regular, 14px, #333);
      line-height: 20px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
      display: -webkit-box;
      overflow: hidden;
      max-height: 42px;
      margin-bottom: 10px;
    }

    a.btn-show-bottom-item {
      font-size: 14px;
      color: $color-main1;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      position: relative;
      transition: 0.3s ease all;

      &:hover {
        &::after {
          right: -11px;
          transition: 0.3s ease all;
        }
      }

      &::after {
        content: '\f105';
        position: absolute;
        transition: 0.3s ease all;
        font-family: 'Font Awesome 5 Pro';
        right: -13px;
        top: 1px;
        font-size: 13px;
      }
    }
  }
}

.services {
  margin-bottom: 15px;

  .service-item {
    a.img-service-item {
      display: block;
      min-height: 175px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .name-service-item {
      margin: 25px 0 15px;

      a {
        display: inline-block;
        @include style-text-main(RobotoSlab-Regular, 18px, #333);
        font-weight: bold;

        &:hover {
          color: $color-main1;
        }
      }
    }

    p {
      @include style-text-main(Roboto_Regular, 14px, #333);
      line-height: 20px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
      display: -webkit-box;
      overflow: hidden;
      max-height: 66px;
      text-align: justify;
      margin-bottom: 10px;
    }
  }
}

.specal-food {
  margin-bottom: 15px;
}

.box-info-item {
  padding: 20px 30px 28px;
  margin-bottom: 30px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.08);
  transition: 0.3s ease all;

  &:hover {
    border-color: rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease all;
  }

  .name-box-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    i {
      margin: 0 20px 0 0;
      font-size: 32px;
      color: $color-main1;
    }

    h6 {
      @include style-text-main(RobotoSlab-Regular, 18px, #333);
      font-weight: bold;
    }
  }
}

/*-----------end style body-----------*/
/*----------style footer-------------*/

.footer-mid {
  padding: 80px 0 50px;
  background: url('assets/img/bg-footer-mid.png') repeat;
}

.title-col-footer-mid {
  @include style-text-main(RobotoSlab-Regular, 20px, #fff);
  font-weight: bold;
  margin-bottom: 25px;
}

.list-adress-basis {
  color: $color-main1;
  font-family: Roboto_Regular;

  p {
    margin-bottom: 10px;

    &:last-child {
      a {
        color: #f37022;
      }
    }
  }
}

.list-service-footer {
  li {
    margin: 6px 0;
    position: relative;

    &::before {
      position: relative;
      padding-right: 20px;
      content: '\f178';
      font-family: 'Font Awesome 5 Pro';
      color: rgba(255, 255, 255, 0.15);
      font-size: 12px;
    }

    a {
      @include style-text-main(Roboto_Regular, 14px, #f37022);

      &:hover {
        color: $color-main1;
      }
    }
  }
}

.info-com-footer {
  color: $color-main1;
  font-family: Roboto_Regular;

  p {
    margin-bottom: 10px;
  }

  strong {
    margin-bottom: 10px;
    display: block;
    &:last-child {
      color: #f37022;
    }
  }

  img {
    max-width: 93px;
    width: 100%;
    margin-top: 10px;
  }
}

.footer-bot {
  padding: 23px 0;
  background: #292929;
  color: #777777;
  font-size: 15px;
}

/*----------end style footer-------------*/
.link-fixed {
  &:hover {
    .tag-fixed {
      opacity: 1;
    }
  }

  ul {
    max-width: 44px;
    position: fixed;
    top: 34%;
    right: 28px;

    li {
      margin-bottom: 12px;

      a {
        display: block;
        border-radius: 50%;

        &:hover {
          box-shadow: 0 5px 10px rgba(0, 0, 0, .15), 0 4px 15px rgba(0, 0, 0, .13);
        }
      }
    }
  }

  .tag-fixed {
    position: fixed;
    right: -53px;
    top: 46%;
    font-size: 12px;
    line-height: 13px;
    background: #dfdfdf;
    padding: 3px;
    transform: rotateZ(-90deg);
    display: inline-block;
    white-space: nowrap;
    opacity: 0;
  }
}

/*--------------detail basis---------------*/

.page-title-detail {
  min-height: 212px;
  background: url('assets/img/bg-page-title.png') repeat;
  display: flex;
  align-items: center;

  h3 {
    @include style-text-main(RobotoSlab-Regular, 48px, #333);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    line-height: 70px;
  }
}

.brecum-title-detail {
  min-height: 53px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 50px;

  ul {
    li {
      display: inline;
      position: relative;

      &:first-child {
        &::after {
          display: none;
        }
      }

      &:last-child {
        &::before {
          display: none;
        }
      }

      &::before {
        position: absolute;
        content: '';
        top: 6px;
        right: 1px;
        font-family: 'Font Awesome 5 Pro';
        font-weight: normal;
        font-size: 12px;
        width: 4px;
        height: 4px;
        background-color: #cecece;
        border-radius: 50%;
      }

      &::after {
        position: absolute;
        content: '\f105';
        top: -2px;
        left: 12px;
        font-family: 'Font Awesome 5 Pro';
        font-size: 14px;
        width: 4px;
        height: 4px;
        color: #333;
      }

      a {
        @include style-text-main(Roboto_Regular, 14px, #333);
        display: inline-block;
        padding: 0 20px;
      }
    }
  }
}

.content-page {
  @include style-text-main(Roboto_Regular, 15px, #333);

  p {
    line-height: 24px;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.list-option {
  margin-bottom: 35px;

  li {
    a {
      display: block;
      padding: 16px 30px;
      margin-bottom: 3px;
      font-size: 15px;
      font-weight: bold;
      font-family: Roboto;
      color: #a5a5a5;
      background-color: #f5f5f5;

      &:hover {
        background: $color-main1;
        color: #fff;
      }
    }
  }
}

.our-facebook {
  .title-ofb {
    margin-bottom: 20px;
    @include style-text-main(RobotoSlab-Regular, 20px, #464646);
    font-weight: bold;
  }
}

.button-book-onl {
  a {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 60%;
    max-width: 100%;
    font-size: 1.15em;
    padding: 1.1em 2.8em;
    margin: 34px auto;
    background: #dd3333;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bd2020), color-stop(1, #dd3333));
    color: #eeee22;
    border: 1px solid;
    border-color: #b01d1d #a81c1c #9a1a1a #a81c1c;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.065);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.065);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  }
}

/*--------------end detail basis---------------*/
/*------------------detail services----------------------*/
.box-item-basis.list-service-item {
  padding: 0;
  border: none;

  .img-basis-item {
    min-height: auto;
  }
}

.tag-book-list-service {
  max-height: 240px;
  height: 100%;
  background: #dd3333;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    @include style-text-main(Roboto_Regular, 20px, #fff);
  }

  .button-book {
    text-align: right;

    a {
      display: inline-block;
      border: 2px solid rgba(250, 250, 250, 0.5);
      padding: 10px 20px;
      text-transform: uppercase;
      @include style-text-main(Roboto_Regular, 16px, #fff);
      font-weight: bold;
    }
  }
}

.page-list-service {
  .text-basis-item {
    p {
      color: #dd3333;
    }
  }
}

/*------------------end detail services----------------------*/
/*---------------detail book movie room-----------------*/
.header.detai-book-movie-room {
  .header-top {
    background: rgba(0, 51, 51, 1);
    color: rgba(221, 144, 60, 1);
  }

  .header-top-phone-number {
    a {
      color: rgba(221, 144, 60, 1);
    }
  }
}

main.detai-book-movie-room {
  background: url('assets/img/bg-detail-book-movie-room.jpg') no-repeat;
  background-size: cover;
  position: relative;
  padding: 54px 0 148px;

  .title-book-movie-room {
    @include style-text-main(OpenSans-Regular, 54px, #fff);
    margin-bottom: 45px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    background: rgba(6, 13, 46, 0.63);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .form-book-movie-room {
    border: 10px solid #fff;
    background: rgb(6, 8, 31);
    padding: 34px;
  }

  .title-form-book-movie-room {
    margin-bottom: 68px;

    p {
      font-family: OpenSans-Regular;

      &:first-child {
        font-size: 24px;
        color: rgba(255, 193, 7, 1);
        font-weight: 600;
        line-height: 34px;
        margin-bottom: 5px;
      }

      &:last-child {
        font-size: 16px;
        color: #fff;
        line-height: 22px;
      }
    }
  }

  .content-form-book {
    .form-control {
      min-height: 50px;
      padding: 8px 10px;
      @include style-text-main(OpenSans-Regular, 15px, #333);
      margin-bottom: 28px;
      border-radius: 4px;
      border-color: #fff;
      background: #fff;
    }

    textarea.form-control {
      max-height: 100px;
    }

    a.btn.button {
      background: rgba(222, 144, 60, 1);
      border-radius: 22px;
      @include style-text-main(OpenSans-Regular, 20px, #fff);
      height: 69px;
      width: 321px;
      display: flex;
      align-items: center;
      font-weight: bold;
      margin: 125px auto 0;
      justify-content: center;
    }
  }
}

footer.detai-book-movie-room {
  background: #033;

  .footer-mid {
    padding: 64px 0 50px;
    background: none;
  }

  .footer-bot {
    background: none;
    margin-top: -50px;
  }

  .list-adress-basis p {
    margin-bottom: 0;
  }

  .footer-bot {
    padding: 0;

    .col-footer-bot {
      padding: 32px 0;
      border-top: 1px solid rgba(255, 193, 7, 1);
      color: #fff !important;
    }
  }

  .title-footer-mid-detail-book-room {
    display: flex;
    align-items: center;
    height: 51px;
    border-bottom: 1px solid rgba(255, 193, 7, 1);
    margin-bottom: 26px;

    svg {
      width: 100%;
      max-width: 26px;
    }

    span {
      @include style-text-main(OpenSans-Regular, 18px, #fff);
      font-weight: 700;
    }
  }

  .title-col-footer-mid {
    font-family: RobotoSlab-Regular;
    font-size: 16px !important;
    color: #de903c !important;
    font-weight: bold !important;
    margin-bottom: 3px !important;
  }
}

.connect-us {
  margin-bottom: 25px;

  p {
    @include style-text-main(OpenSans-Regular, 14px, #fff);
    margin-bottom: 12px;
    font-weight: 700;
  }

  ul {
    li {
      display: inline;

      a {
        max-width: 30px;
        display: inline-block;
        margin: 0 2px;
      }
    }
  }

  .list-service-footer li a {
    color: #de903c;
  }

  .list-service-footer li::before {
    display: none;
  }

  .list-service-footer li:first-child {
    a {
      font-weight: bold;
    }
  }
}

/*---------------end detail book movie room-----------------*/
/*-------------------------detail news-------------------------*/
.title-detail-news {
  h3.title-box-list {
    text-align: left;
    margin-bottom: 25px;

    span {
      font-weight: normal;
      color: #333;
    }
  }
}

.box-item-basis.list-news-item {
  padding: 0;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

  .img-basis-item {
    position: relative;
    height: 203px;
    min-height: auto !important;
    overflow: hidden;

    a {
      display: block;

      img {
        transition: 0.3s ease all;
      }

      .date-post {
        position: absolute;
        bottom: 21px;
        left: 33px;
        background: $color-main1;
        text-align: center;

        &:hover {
          background: #d48632;

          span {
            &::after {
              border-top-color: #d48632;
            }
          }
        }
      }

      span {
        display: inline-block;
        height: 30px;
        padding: 0 12px;
        line-height: 30px;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        position: relative;

        &::after {
          content: '';
          display: inline-block;
          top: 100%;
          left: 20px;
          position: absolute;
          content: '';
          height: 0;
          width: 0;
          pointer-events: none;
          border: solid transparent;
          border-color: rgba(136, 183, 213, 0);
          border-top-color: $color-main1;
          border-width: 5px;
        }
      }

      &:hover {
        img {
          transform: scale(1.1, 1.1);
          transition: 0.3s ease all;
        }
      }
    }
  }

  .text-basis-item {
    padding: 27px 33px;
    min-height: 190px;

    h3.name-basis-item {
      margin-top: 0;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
      display: -webkit-box;
      overflow: hidden;
      max-height: 60px;
    }

    p {
      color: #333;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
      display: -webkit-box;
      overflow: hidden;
      max-height: 66px;
      margin-bottom: 10px;
    }
  }
}

.slider-news {
  padding-right: 40px;

  .owl-nav {
    top: 6%;
    width: 47px;
    right: -10px;

    button {
      .arrow-slider {
        font-size: 27px;
        background: #333;
        width: 22px;
        height: 22px;
        border-radius: 0;
      }
    }
  }

  .item {
    a.img-slider-news-item {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-bottom: 8px;
      height: 163px;
      position: relative;

      &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #3279BB;
        opacity: 0;
        transition: 0.3s ease all;
      }

      img {
        transition: 0.3s ease all;
      }

      &:hover {
        &::after {
          opacity: 0.5;
          transition: 0.3s ease all;
        }

        img {
          transform: scale(1.1, 1.1);
          transition: 0.3s ease all;
        }
      }
    }

    a.name-slide-news-item {
      display: block;
      @include style-text-main(RobotoSlab-Regular, 15px, #474747);
    }
  }
}

/*-------------------------end detail news-------------------------*/
/*-------------------new detail---------------------*/
.form-search-news {
  height: 50px;
  margin-bottom: 50px;

  input {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    font-size: 13px;
    outline: none;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #e6e6e6;
    border-radius: 1px 0 0 1px;
  }

  button {
    background: $color-main1;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    border: none;
    border-radius: 1px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 92px;
    cursor: pointer;
    width: 100%;

    &:hover {
      background: #98b63c;
    }
  }
}

.list-tag-new-detail {
  padding: 17px 0;
  font-weight: bold;
  border-style: dashed;
  border-width: 0 0 1px 0;
  border-color: #dedede;
  display: flex;

  .tag-new-detail-item {
    margin: 0 15px;
    position: relative;

    &:last-child {
      &before {
        display: none;
      }
    }

    &:before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #dedede;
      border-radius: 50%;
      position: absolute;
      top: 42%;
      right: -17px;
    }

    @include style-text-main(Roboto_Regular, 14px, #000);

    a {
      color: #a5a5a5;

      &:hover {
        color: #464646;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.title-new-detail {
  @include style-text-main(RobotoSlab-Regular, 36px, #333);
  margin: 30px 0;
  line-height: 1.3;
  font-weight: bold;
}

.list-tag-share {
  margin: 50px 0;

  span {
    position: relative;
    margin-right: 12px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    border: 2px solid #f2f2f2;

    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-left-color: #f2f2f2;
      border-width: 8px;
      margin-top: -8px;
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
  }

  a {
    height: 50px;
    padding: 0 17.5px;
    text-align: center;
    line-height: 50px;
    margin-right: 5px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);

    &:nth-child(2) {
      background: rgba(0, 172, 237, 0.7);

      &:hover {
        background: #00aced;
      }
    }

    &:nth-child(3) {
      background: rgba(59, 89, 152, 0.7);

      &:hover {
        background: #3b5998;
      }
    }

    &:nth-child(4) {
      background: rgba(221, 75, 57, 0.7);

      &:hover {
        background: #dd4b39;
      }
    }

    &:nth-child(5) {
      background: rgba(0, 123, 182, 0.7);

      &:hover {
        background: #007bb6;
      }
    }
  }
}

.commonent-new-detail {
  padding-top: 20px;
  border-style: dashed;
  border-width: 1px 0 0 0;
  border-color: #e6e6e6;

  .title-comment-detail {
    @include style-text-main(RobotoSlab-Regular, 24px, #000);
    margin-bottom: 20px;
  }

  p {
    @include style-text-main(Roboto_Regular, 14px, #000);
    margin-bottom: 8px;
  }

  form {
    textarea {
      padding: 15px;
      margin-bottom: 15px;
      min-height: 208px;
      background-color: #f5f5f5;
      border: 1px solid #e6e6e6;
      border-radius: 0;

      &:focus {
        border-color: $color-main1;
        box-shadow: none;
        outline: none;
      }
    }

    input {
      height: 48px;
      border: 1px solid #e6e6e6;
      border-radius: 0;
      padding: 15px;
      margin-bottom: 15px;
      background-color: #f5f5f5;

      &:focus {
        border-color: $color-main1;
        box-shadow: none;
        outline: none;
      }
    }

    button {
      padding: 18px 22px;
      text-transform: uppercase;
      border: none;
      background: $color-main1;
      @include style-text-main(Roboto_Bold, 14px, #fff);
      margin: 20px 0 40px;

      &:hover {
        background: #98b63c;
      }
    }
  }
}

.new-post {
  .list-service-footer {
    margin-bottom: 20px;

    li::before {
      color: #e6e6e6;
    }
  }
}

.title-new-post {
  @include style-text-main(RobotoSlab-Regular, 18px, #333);
  font-weight: bold;
}

/*-------------------end new detail---------------------*/
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important
}

@media (max-width:767px) {
  .visible-xs {
    display: block !important
  }

  table.visible-xs {
    display: table
  }

  tr.visible-xs {
    display: table-row !important
  }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important
  }
}

@media (max-width:767px) {
  .visible-xs-block {
    display: block !important
  }
}

@media (max-width:767px) {
  .visible-xs-inline {
    display: inline !important
  }
}

@media (max-width:767px) {
  .visible-xs-inline-block {
    display: inline-block !important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm {
    display: block !important
  }

  table.visible-sm {
    display: table
  }

  tr.visible-sm {
    display: table-row !important
  }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-block {
    display: block !important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-inline {
    display: inline !important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .visible-sm-inline-block {
    display: inline-block !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md {
    display: block !important
  }

  table.visible-md {
    display: table
  }

  tr.visible-md {
    display: table-row !important
  }

  th.visible-md,
  td.visible-md {
    display: table-cell !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-block {
    display: block !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-inline {
    display: inline !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .visible-md-inline-block {
    display: inline-block !important
  }
}

@media (min-width:1200px) {
  .visible-lg {
    display: block !important
  }

  table.visible-lg {
    display: table
  }

  tr.visible-lg {
    display: table-row !important
  }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important
  }
}

@media (min-width:1200px) {
  .visible-lg-block {
    display: block !important
  }
}

@media (min-width:1200px) {
  .visible-lg-inline {
    display: inline !important
  }
}

@media (min-width:1200px) {
  .visible-lg-inline-block {
    display: inline-block !important
  }
}

@media (max-width:767px) {
  .hidden-xs {
    display: none !important
  }
}

@media (min-width:768px) and (max-width:991px) {
  .hidden-sm {
    display: none !important
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .hidden-md {
    display: none !important
  }
}

@media (min-width:1200px) {
  .hidden-lg {
    display: none !important
  }
}

.visible-print {
  display: none !important
}

@media print {
  .visible-print {
    display: block !important
  }

  table.visible-print {
    display: table
  }

  tr.visible-print {
    display: table-row !important
  }

  th.visible-print,
  td.visible-print {
    display: table-cell !important
  }
}

.visible-print-block {
  display: none !important
}

@media print {
  .visible-print-block {
    display: block !important
  }
}

.visible-print-inline {
  display: none !important
}

@media print {
  .visible-print-inline {
    display: inline !important
  }
}

.visible-print-inline-block {
  display: none !important
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important
  }
}

@media print {
  .hidden-print {
    display: none !important
  }
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
   *  Default theme - Owl Carousel CSS File
   */
.owl-carousel {
  position: relative;
  z-index: 0;
}

.owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin-top: 0px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-nav [class*='owl-'] {
  position: absolute;
  top: -14px;
  color: #333;
  /*  font-size: 40px;*/
  outline: none;
  margin: 0px;
  padding: 0px 0px;
  background: transparent;
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 100px;
  opacity: 0.6
}

.owl-carousel .owl-nav [class*='owl-']:hover {
  background: transparent;
  opacity: 1;
  color: #000;
  text-decoration: none;
}

.owl-carousel .owl-nav .owl-prev {
  left: 0;
}

.owl-carousel .owl-nav .owl-next {
  right: 0;
}

.owl-carousel .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-carousel .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  outline: 0;
  background: transparent;
  border: 0;
  zoom: 1;
  *display: inline;
}

.owl-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
  background: #869791;
}

@media (min-width:1200px)

  /* lg*/
{
  .container {
    width: 1140px;
  }

  .row_pc {
    margin: 0px -15px;
  }
}

@media (min-width:992px) and (max-width:1199px)

  /* md*/
{
  .list_link_hd {
    float: left !important;
  }

  .menu_main {
    padding-left: 43px;
  }

  .nav-menu>.menu-item>.menu-link {
    padding: 32px 13px 33px 13px;
    font-size: 15px;
  }

  /* -------------body index--------------- */
  .box-info-intro h2:first-child,
  .box-info-intro a,
  .box-info-intro h2:last-child {
    font-size: 25px;
  }

  .title-box-list {
    margin-bottom: 24px;
    font-size: 33px;
  }

  .box-item-basis {
    padding: 18px;
  }

  .box-item-basis .img-basis-item {
    min-height: 256px;
  }

  .box-item-basis .text-basis-item h3.name-basis-item {
    margin: 15px 0 15px;
  }

  .services .service-item .name-service-item {
    margin: 15px 0 5px;
  }

  .service-item {
    margin-bottom: 20px;
  }

  /* -------------end body index--------------- */
  /* ----------------detail basis------------------- */
  .page-title-detail h3 {
    font-size: 38px;
    text-align: left;
    line-height: 50px;
  }

  .page-title-detail {
    min-height: 132px;
    padding: 60px 0px;
    display: inherit;
  }

  .button-book-onl a {
    width: 100%;
  }

  .brecum-title-detail {
    display: inherit;
    padding: 13px 0px;
  }

  .pdd-30 {
    padding: 0px 30px;
  }

  /* ----------------end detail basis------------------- */
  /* -------------detail book movie room------------- */
  main.detai-book-movie-room .title-book-movie-room {
    font-size: 34px;
  }

  main.detai-book-movie-room .title-form-book-movie-room {
    margin-bottom: 39px;
  }

  main.detai-book-movie-room .title-form-book-movie-room p:first-child {
    font-size: 24px;
  }

  main.detai-book-movie-room .title-form-book-movie-room p:last-child {
    font-size: 16px;
  }

  main.detai-book-movie-room .content-form-book .form-control {
    min-height: 39px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  main.detai-book-movie-room .content-form-book a.btn.button {
    border-radius: 22px;
    font-size: 17px;
    height: 50px;
    width: 100%;
    margin: 58px auto 0;
  }
  box-item-basis
  .w_100 {
    width: 100%;


  }

  /* -------------end detail book movie room------------- */
  /*-------------detail-news-------------*/
  .slider-news .owl-nav button .arrow-slider {
    font-size: 20px;
  }

  /*-------------end detail-news-------------*/
}

@media (min-width:768px) and (max-width:991px)

  /* sm*/
{
  .sc_header_menu.sticky-header {
    position: relative !important;
  }

  /* -----------header----------- */
  .header-top {
    margin-top: 62px;
  }

  .row_pc.d-flex.flex-space-bw,
  .header-top-info {
    flex-direction: column;
  }

  .row_pc.d-flex.flex-space-bw {
    padding: 0px 15px;
  }

  .menu_main::after {
    display: none;
  }

  .header-top .header-top-info {
    white-space: normal;
  }

  .header-top .header-top-info .header-top-address {
    margin-right: 0;
    padding-right: 0;
    margin: 10px 0px;
    padding: 10px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
  }

  .header-top .header-top-info .header-top-address::before {
    display: none;
  }

  .header-top .header-top-info .header-top-phone-number {
    justify-content: flex-start;
  }

  /* -----------end header----------- */
  /* -------------body index--------------- */
  .box-info-intro {
    padding: 12px;
  }

  .box-info-intro h2:first-child,
  .box-info-intro a,
  .box-info-intro h2:last-child {
    font-size: 25px;
  }

  .box-link-book a img {
    width: 100%;
    max-width: 50%;
  }

  .title-box-list {
    margin-bottom: 24px;
    font-size: 30px;
  }

  .box-item-basis {
    padding: 18px;
  }

  .box-item-basis .img-basis-item {
    min-height: auto;
  }

  .box-item-basis .text-basis-item h3.name-basis-item {
    margin: 15px 0 15px;
  }

  .services .service-item .name-service-item {
    margin: 15px 0 5px;
  }

  .service-item {
    margin-bottom: 20px;
  }

  /* -------------end body index--------------- */
  /* ----------------detail basis------------------- */
  .page-title-detail h3 {
    font-size: 32px;
    text-align: left;
  }

  .page-title-detail {
    min-height: 132px;
    padding: 46px 0px;
    display: inherit;
  }

  .button-book-onl a {
    width: 100%;
  }

  .brecum-title-detail {
    display: inherit;
    padding: 13px 0px;
  }

  /* ----------------end detail basis------------------- */
  /* -------------detail book movie room------------- */
  main.detai-book-movie-room .title-book-movie-room {
    font-size: 34px;
  }

  main.detai-book-movie-room .title-form-book-movie-room {
    margin-bottom: 39px;
  }

  main.detai-book-movie-room .title-form-book-movie-room p:first-child {
    font-size: 24px;
  }

  main.detai-book-movie-room .title-form-book-movie-room p:last-child {
    font-size: 16px;
  }

  main.detai-book-movie-room .content-form-book .form-control {
    min-height: 39px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  main.detai-book-movie-room .content-form-book a.btn.button {
    border-radius: 22px;
    font-size: 17px;
    height: 50px;
    width: 100%;
    margin: 58px auto 0;
  }

  footer.detai-book-movie-room .footer-bot .col-footer-bot .text-right {
    text-align: center !important;
  }

  /* -------------end detail book movie room------------- */
  /* ---------new detail--------- */
  .title-new-detail {
    font-size: 25px;
  }

  /* ---------end new detail--------- */
  @media (max-width: 767px)

    /* xs*/
  {
    .sc_header_menu.sticky-header {
      position: relative !important;
    }

    /* -----------header----------- */
    .header-top {
      margin-top: 62px;
    }

    .row_pc.d-flex.flex-space-bw,
    .header-top-info {
      flex-direction: column;
    }

    .row_pc.d-flex.flex-space-bw {
      padding: 0px 15px;
    }

    .menu_main::after {
      display: none;
    }

    .header-top .header-top-info {
      white-space: normal;
    }

    .header-top .header-top-info .header-top-address {
      margin-right: 0;
      padding-right: 0;
      margin: 10px 0px;
      padding: 10px 0px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      justify-content: flex-start;
    }

    .header-top .header-top-info .header-top-address::before {
      display: none;
    }

    .header-top .header-top-info .header-top-phone-number {
      justify-content: flex-start;
    }

    /* -----------end header----------- */
    /* ------------footer------------- */
    .footer-mid {
      padding: 50px 15px;
    }

    .col-footer-mid-item {
      margin-bottom: 12px;
    }

    .title-col-footer-mid {
      margin-bottom: 6px;
    }

    .footer-bot {
      text-align: center;
    }

    center {
      text-align: left !important;
    }

    /* ------------end footer------------- */
    /* -------------body index--------------- */
    .box-info-intro {
      padding: 12px;
    }

    .box-info-intro h2:first-child,
    .box-info-intro a,
    .box-info-intro h2:last-child {
      font-size: 21px;
    }

    .box-link-book a img {
      width: 100%;
      max-width: 60%;
    }

    .title-box-list {
      margin-bottom: 24px;
      font-size: 27px;
    }

    .box-item-basis {
      padding: 18px;
    }

    .box-item-basis .img-basis-item {
      min-height: auto;
    }

    .box-item-basis .text-basis-item h3.name-basis-item {
      margin: 15px 0 15px;
    }

    .services .service-item .name-service-item {
      margin: 15px 0 5px;
    }

    .service-item {
      margin-bottom: 20px;
    }

    /* -------------end body index--------------- */
    /* ----------------detail basis------------------- */
    .page-title-detail h3 {
      font-size: 28px;
      text-align: left;
    }

    .page-title-detail {
      min-height: 132px;
      padding: 46px 0px;
      display: inherit;
    }

    .button-book-onl a {
      width: 100%;
    }

    .brecum-title-detail {
      display: inherit;
      padding: 13px 0px;
    }

    /* ----------------end detail basis------------------- */
    /* ----------------detail-service---------------- */
    .tag-book-list-service {
      padding: 12px;
    }

    .tag-book-list-service .button-book {
      margin-top: 45px;
    }

    .tag-book-list-service .button-book a {
      font-size: 13px;
    }

    /* ----------------end detail-service---------------- */
    /* -------------detail book movie room------------- */
    main.detai-book-movie-room .title-book-movie-room {
      font-size: 30px;
    }

    main.detai-book-movie-room .form-book-movie-room {
      margin-top: 20px;
    }

    main.detai-book-movie-room .title-form-book-movie-room {
      margin-bottom: 39px;
    }

    main.detai-book-movie-room .title-form-book-movie-room p:first-child {
      font-size: 24px;
    }

    main.detai-book-movie-room .title-form-book-movie-room p:last-child {
      font-size: 16px;
    }

    main.detai-book-movie-room .content-form-book .form-control {
      min-height: 39px;
      margin-bottom: 15px;
      font-size: 14px;
    }

    main.detai-book-movie-room .content-form-book a.btn.button {
      border-radius: 22px;
      font-size: 19px;
      height: 50px;
      /* width: 100%; */
      margin: 58px auto 0;
    }

    footer.detai-book-movie-room .footer-bot .col-footer-bot .text-right {
      text-align: center !important;
    }

    /* -------------end detail book movie room------------- */
    /*-------------detail-news-------------*/
    .box-item-basis.list-news-item .img-basis-item {
      height: auto;
    }

    .box-item-basis.list-news-item .text-basis-item {
      padding: 13px 15px;
    }

    .box-item-basis.list-news-item .img-basis-item a {
      width: 100%;
    }

    /*-------------end detail-news-------------*/
    /* ---------new detail--------- */
    .title-new-detail {
      font-size: 25px;
      margin: 17px 0;
    }

    /* ---------end new detail--------- */
  }

  @media (max-width: 480px) {
    .col-480-12 {
      width: 100% !important;
    }

    .col-480-6 {
      width: 50% !important;
    }

    .hidden-480 {
      display: none !important;
    }

    .visible-480 {
      display: block !important;
    }

    /* -----------header----------- */
    .header-top {
      margin-top: 62px;
    }

    .row_pc.d-flex.flex-space-bw,
    .header-top-info {
      flex-direction: column;
    }

    .row_pc.d-flex.flex-space-bw {
      padding: 0px 15px;
    }

    .menu_main::after {
      display: none;
    }

    .header-top .header-top-info {
      white-space: normal;
    }

    .header-top .header-top-info .header-top-address {
      margin-right: 0;
      padding-right: 0;
      margin: 10px 0px;
      padding: 10px 0px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .header-top .header-top-info .header-top-address::before {
      display: none;
    }

    .header-top .header-top-info .header-top-phone-number {
      justify-content: flex-start;
    }

    /* -----------end header----------- */
    /* ------------footer------------- */
    .footer-mid {
      padding: 50px 15px;
    }

    .col-footer-mid-item {
      margin-bottom: 12px;
    }

    .title-col-footer-mid {
      margin-bottom: 6px;
    }

    .footer-bot {
      text-align: center;
    }

    /* ------------end footer------------- */
    /* -------------body index--------------- */
    .box-info-intro {
      padding: 12px;
    }

    .box-info-intro h2:first-child,
    .box-info-intro a,
    .box-info-intro h2:last-child {
      font-size: 21px;
    }

    .box-link-book a img {
      width: 100%;
    }

    .title-box-list {
      margin-bottom: 24px;
      font-size: 23px;
    }

    .box-item-basis {
      padding: 18px;
    }

    .box-item-basis .img-basis-item {
      min-height: auto;
    }

    .box-item-basis .text-basis-item h3.name-basis-item {
      margin: 15px 0 15px;
    }

    .services .service-item .name-service-item {
      margin: 15px 0 5px;
    }

    .box-item-basis .text-basis-item h3.name-basis-item a,
    .services .service-item .name-service-item a {
      font-size: 16px;
    }

    .service-item {
      margin-bottom: 20px;
    }

    /* -------------end body index--------------- */
    /* ----------------detail basis------------------- */
    .page-title-detail h3 {
      font-size: 28px;
      text-align: left;
    }

    .page-title-detail {
      min-height: 132px;
      padding: 46px 0px;
      display: inherit;
    }

    .button-book-onl a {
      width: 100%;
    }

    /* ----------------end detail basis------------------- */
    /* ----------------detail-service---------------- */
    .tag-book-list-service {
      padding: 12px;
    }

    .tag-book-list-service .button-book {
      margin-top: 45px;
    }

    .tag-book-list-service .button-book a {
      font-size: 13px;
    }

    /* ----------------end detail-service---------------- */
    /* -------------detail book movie room------------- */
    main.detai-book-movie-room .title-book-movie-room {
      font-size: 23px;
    }

    main.detai-book-movie-room .form-book-movie-room {
      border: 5px solid #fff;
      padding: 12px;
      margin-top: 20px;
    }

    main.detai-book-movie-room .title-form-book-movie-room {
      margin-bottom: 39px;
    }

    main.detai-book-movie-room .title-form-book-movie-room p:first-child {
      font-size: 19px;
    }

    main.detai-book-movie-room .title-form-book-movie-room p:last-child {
      font-size: 14px;
    }

    main.detai-book-movie-room .content-form-book .form-control {
      min-height: 39px;
      margin-bottom: 15px;
      font-size: 14px;
    }

    main.detai-book-movie-room .content-form-book a.btn.button {
      border-radius: 22px;
      font-size: 15px;
      height: 50px;
      width: 100%;
      margin: 58px auto 0;
    }

    footer.detai-book-movie-room .footer-bot .col-footer-bot .text-right {
      text-align: center !important;
    }

    /* -------------end detail book movie room------------- */
    /*-------------detail-news-------------*/
    .box-item-basis.list-news-item .img-basis-item {
      height: auto;
    }

    .box-item-basis.list-news-item .text-basis-item {
      padding: 13px 15px;
    }

    .slider-news {
      padding-right: 0px;
    }

    .slider-news .owl-nav {
      display: none;
    }

    .box-item-basis.list-news-item .img-basis-item a {
      width: 100%;
    }

    /*-------------end detail-news-------------*/
    /* ---------new detail--------- */
    .list-tag-new-detail .tag-new-detail-item:before {
      display: none;
    }

    .title-new-detail {
      font-size: 22px;
      margin: 17px 0;
    }

    .list-tag-share {
      flex-direction: column;
    }

    .list-tag-share a {
      margin-top: 8px;
      margin-right: 0px;
    }

    /* ---------end new detail--------- */
  }

  @media (max-width: 320px) {

    /* -----------header----------- */
    .header-top {
      margin-top: 62px;
    }

    .row_pc.d-flex.flex-space-bw,
    .header-top-info {
      flex-direction: column;
    }

    .row_pc.d-flex.flex-space-bw {
      padding: 0px 15px;
    }

    .menu_main::after {
      display: none;
    }

    .header-top .header-top-info {
      white-space: normal;
    }

    .header-top .header-top-info .header-top-address {
      margin-right: 0;
      padding-right: 0;
      margin: 10px 0px;
      padding: 10px 0px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .header-top .header-top-info .header-top-address::before {
      display: none;
    }

    .header-top .header-top-info .header-top-phone-number {
      justify-content: flex-start;
    }

    /* -----------end header----------- */
    /* ------------footer------------- */
    .footer-mid {
      padding: 50px 15px;
    }

    .col-footer-mid-item {
      margin-bottom: 12px;
    }

    .title-col-footer-mid {
      margin-bottom: 6px;
    }

    .footer-bot {
      text-align: center;
    }

    /* ------------end footer------------- */
    /* -------------body index--------------- */
    .box-info-intro {
      padding: 12px;
    }

    .box-info-intro h2:first-child,
    .box-info-intro a,
    .box-info-intro h2:last-child {
      font-size: 21px;
    }

    .box-link-book a img {
      width: 100%;
    }

    .title-box-list {
      margin-bottom: 24px;
      font-size: 23px;
    }

    .box-item-basis {
      padding: 18px;
    }

    .box-item-basis .img-basis-item {
      min-height: auto;
    }

    .box-item-basis .text-basis-item h3.name-basis-item {
      margin: 15px 0 15px;
    }

    .services .service-item .name-service-item {
      margin: 15px 0 5px;
    }

    .box-item-basis .text-basis-item h3.name-basis-item a,
    .services .service-item .name-service-item a {
      font-size: 16px;
    }

    .service-item {
      margin-bottom: 20px;
    }

    /* -------------end body index--------------- */
    /* ----------------detail basis------------------- */
    .page-title-detail h3 {
      font-size: 28px;
      text-align: center;
    }

    .page-title-detail {
      min-height: 132px;
    }

    .button-book-onl a {
      width: 100%;
    }

    /* ----------------end detail basis------------------- */
    /* ----------------detail-service---------------- */
    .tag-book-list-service {
      padding: 12px;
    }

    .tag-book-list-service .button-book {
      margin-top: 45px;
    }

    .tag-book-list-service .button-book a {
      font-size: 12px;
    }

    /* ----------------end detail-service---------------- */
    /* -------------detail book movie room------------- */
    main.detai-book-movie-room .title-book-movie-room {
      font-size: 23px;
    }

    main.detai-book-movie-room .form-book-movie-room {
      border: 5px solid #fff;
      padding: 12px;
      margin-top: 20px;
    }

    main.detai-book-movie-room .title-form-book-movie-room {
      margin-bottom: 39px;
    }

    main.detai-book-movie-room .title-form-book-movie-room p:first-child {
      font-size: 19px;
    }

    main.detai-book-movie-room .title-form-book-movie-room p:last-child {
      font-size: 14px;
    }

    main.detai-book-movie-room .content-form-book .form-control {
      min-height: 39px;
      margin-bottom: 15px;
      font-size: 14px;
    }

    main.detai-book-movie-room .content-form-book a.btn.button {
      border-radius: 22px;
      font-size: 15px;
      height: 50px;
      width: 100%;
      margin: 58px auto 0;
    }

    footer.detai-book-movie-room .footer-bot .col-footer-bot .text-right {
      text-align: center !important;
    }

    /* -------------end detail book movie room------------- */
    /*-------------detail-news-------------*/
    .box-item-basis.list-news-item .img-basis-item {
      height: auto;
    }

    .box-item-basis.list-news-item .text-basis-item {
      padding: 13px 15px;
    }

    .slider-news {
      padding-right: 0px;
    }

    .slider-news .owl-nav {
      display: none;
    }

    .box-item-basis.list-news-item .img-basis-item a {
      width: 100%;
    }

    /*-------------end detail-news-------------*/
    /* ---------new detail--------- */
    .list-tag-new-detail {
      flex-direction: column;
    }

    .list-tag-new-detail .tag-new-detail-item {
      margin: 5px 0px;
    }

    .list-tag-new-detail .tag-new-detail-item:before {
      display: none;
    }

    .title-new-detail {
      font-size: 22px;
      margin: 17px 0;
    }

    .list-tag-share {
      flex-direction: column;
    }

    .list-tag-share a {
      margin-top: 8px;
    }

    /* ---------end new detail--------- */


  }
}
.row-flex{
  display: flex;
  flex-wrap: wrap;
}
.h-100{
  height: 100%;
}
