<main>

  <div class="page-title-detail">
    <div class="container">
      <div class="row_pc">
        <h3>Chuyên mục: Tuyển dụng</h3>
      </div>
    </div>
  </div>

  <div class="brecum-title-detail">
    <div class="container">
      <div class="row_pc">
        <ul>
          <li><a href="#" title="">Cafe phim Hà Nội</a></li>
          <li><a title="">Chuyên mục: Tuyển dụng</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="detail-page-content">
    <div class="container">
      <div class="row_pc">
        <div class="col-detail-page-conent">
          <div class="row row-flex">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
              <div class="content-page">
                <div class="sale-items" *ngFor="let item of tuyenDungList">
                  <div class="date-sales-items">
                    <span>{{item.createdDate.toDate() | date:'dd'}}</span>
                    <span>TH{{item.createdDate.toDate() | date:'MM'}}</span>
                    <span>{{item.createdDate.toDate() | date:'yyyy'}}</span>
                  </div>
                  <div class="sale-items-content">
                    <div class="img-title-new-detail">
                      <img src="{{item.image}}" alt="" class="w_100">
                    </div>
                    <div class="list-tag-new-detail">
                      <div class="tag-new-detail-item">{{item.createdDate.toDate() | date:'dd/MM/yyyy'}}</div>
                      <div class="tag-new-detail-item"><a href="#" title="">Không phản hồi</a></div>
                      <div class="tag-new-detail-item"><a href="#" title="">Cafe phim</a>, <a href="#" title="">Hệ thống Cine cafe</a></div>
                    </div>
                    <h2 class="title-new-detail" routerLink="{{item.id}}">{{item.title}}</h2>
                    <div class="new-detail-content" [innerHTML]="(item.content | slice:0:4000 )+ '...' ">
                    </div>
                    <a href="#" class="show-more-sale">Xem tiếp <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
                <div class="commonent-new-detail"></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <div class="more-info-right">
<!--                <form class="d-flex form-search-news">-->
<!--                  <input type="text" placeholder="Tìm kiếm..." name="" value="">-->
<!--                  <button type="button" name="button">Tìm kiếm</button>-->
<!--                </form>-->

                <ul class="list-option">
                  <li><a routerLink="/dich-vu" title="" >Dịch vụ</a></li>
                  <li><a routerLink="/dich-vu//{{item.id}}" *ngFor="let item of dichVuList">{{item.title}}</a></li>
                </ul>

<!--                <div class="new-post">-->
<!--                  <div class="title-new-post">Bài viết mới</div>-->
<!--                  <ul class="list-service-footer">-->
<!--                    <li><a href="#" title="">Dịch vụ</a></li>-->
<!--                    <li><a href="#" title="">Cafe phim phòng riêng</a></li>-->
<!--                    <li><a href="#" title="">Xem phim phòng riêng gia đình</a></li>-->
<!--                    <li><a href="#" title="">Tổ chức sinh nhật</a></li>-->
<!--                    <li><a href="#" title="">Tổ chức Offline</a></li>-->
<!--                    <li><a href="#" title="">Tổ chức hội thảo, học nhóm</a></li>-->
<!--                    <li><a href="#" title="">Tổ chức sự kiện lãng mạn</a></li>-->
<!--                  </ul>-->
<!--                </div>-->
                <div class="our-facebook">
                  <div class="title-ofb">Facebook của chúng tôi</div>

                  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcinecafehn%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="500" style="border:none;overflow:hidden"

                          scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>

                <div class="audio-music">
                  <h6 class="title-audio">Đếm ngày xa em - OnlyC, Lou Hoàng</h6>
                  <audio src="../../../../assets/img/Dem-Ngay-Xa-Em-OnlyC-Lou-Hoang.mp3" controls="controls" loop="loop"></audio>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
